BOT_TOKEN=
ADMIN_IDS=

DATABASE_URL=

REDIS_URL=

SECRET_KEY=

YOOMONEY_RECEIVER=
YOOMONEY_SECRET=

REMNAWAVE_URL=
REMNAWAVE_TOKEN=
REMNAWAVE_SECRET_KEY=


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

WEBAPP_URL=

SESSION_MAX_AGE=